<div class="main">
    <button class="button" routerLink="/Login/2/{{id}}">Editar</button>
    <div class="sup">
        <div class="sup_left imagen">
            <img src="{{real.url}}" alt="">
        </div>
        <div class="sup_left">
            <h2>{{real.nombre}}</h2>
            <p>{{real.nombre_cientifico}}</p>
            <p><b>Caracteristicas</b></p>
            <p>{{real.caracteristicas}}</p>
            <div class="vertical">
            <div>
                <p><b>Condiciones</b></p>
                <p>{{real.condiciones}}</p>
            </div>
            <div>
                <p><b>Metodo cultivo</b></p>
                <p>{{real.metodo_cultivo}}</p>
            </div>
        </div>
        </div>


    </div>

    <div class="inf">
        <div class="inf_left vertical">
            <div>
                <p><b>Floracion</b></p>
                <p>{{real.floracion}}</p>
            </div>
            <div>
                <p><b>Problemas</b></p>
                <p>{{real.problemas}}</p>
            </div>

        </div>
        <div class="inf_rigth">
            <p><b>Mes a mes</b></p>
            <div class="grid">
                <div>
                    <p>Enero: </p>
                    <p>{{real.mes[0]}}</p>
                </div>
                <div>
                    <p>Febrero: </p>
                    <p>{{real.mes[1]}}</p>
                </div>
                <div>
                    <p>Marzo: </p>
                    <p>{{real.mes[2]}}</p>
                </div>
                <div>
                    <p>Abril: </p>
                    <p>{{real.mes[3]}}</p>
                </div>
                <div>
                    <p>Mayo: </p>
                    <p>{{real.mes[4]}}</p>
                </div>
                <div>
                    <p>Junio: </p>
                    <p>{{real.mes[5]}}</p>
                </div>
                <div>
                    <p>Julio: </p>
                    <p>{{real.mes[6]}}</p>
                </div>
                <div>
                    <p>Agosto: </p>
                    <p>{{real.mes[7]}}</p>
                </div>
                <div>
                    <p>Septiembre: </p>
                    <p>{{real.mes[8]}}</p>
                </div>
                <div>
                    <p>Octubre: </p>
                    <p>{{real.mes[9]}}</p>
                </div>
                <div>
                    <p>Noviembre: </p>
                    <p>{{real.mes[10]}}</p>
                </div>
                <div>
                    <p>Diciembre: </p>
                    <p>{{real.mes[11]}}</p>
                </div>
            </div>
            <div class="dato_interesante">
                <p>Dato interesante</p>
                <p>{{real.dato_curioso}}</p>
            </div>
            
        </div>
    </div>



</div>