<div class="main">

    <div class="sup">
        <div class="sup_left">
            <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png" alt="">
        </div>
        <div class="sup_left">
            <h2>Nombre Nombre Nombre</h2>
            <p>Nombre Cientifico</p>
            <p><b>Caracteristicas</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti veniam, optio delectus illo voluptatibus tempora accusantium fugiat blanditiis id voluptas cupiditate incidunt enim corporis! Vel officiis tempore repudiandae amet! lo</p>
            <div class="vertical">
            <div>
                <p><b>Condiciones</b></p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, omnis aperiam perspiciatis eveniet quo hic voluptas aliquid eaque necessitatibus non eligendi illo eius doloremque nostrum, fugiat iusto earum iste neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga minus a blanditiis ducimus praesentium? Inventore velit dignissimos soluta laboriosam tenetur voluptas porro harum ullam dolore, deserunt expedita sint tempore? Recusandae.</p>
            </div>
            <div>
                <p><b>Metodo cultivo</b></p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, omnis aperiam perspiciatis eveniet quo hic voluptas aliquid eaque necessitatibus non eligendi illo eius doloremque nostrum, fugiat iusto earum iste neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga minus a blanditiis ducimus praesentium? Inventore velit dignissimos soluta laboriosam tenetur voluptas porro harum ullam dolore, deserunt expedita sint tempore? Recusandae.</p>
            </div>
        </div>
        </div>


    </div>

    <div class="inf">
        <div class="inf_left vertical">
            <div>
                <p><b>Floracion</b></p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, omnis aperiam perspiciatis eveniet quo hic voluptas aliquid eaque necessitatibus non eligendi illo eius doloremque nostrum, fugiat iusto earum iste neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, cupiditate officia iure mollitia libero impedit ab voluptates quaerat voluptas in, eaque quod veniam esse rem ullam ratione veritatis dolore possimus.</p>
            </div>
            <div>
                <p><b>Problemas</b></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatibus doloribus vero ut ex beatae accusamus amet, molestias cumque commodi et iusto repellat, ipsam, animi minima est quaerat illo explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet temporibus id doloremque earum assumenda in rem magnam. Repellendus ducimus, dolor dicta ab officia soluta possimus facilis? Eum modi consequuntur exercitationem?</p>
            </div>

        </div>
        <div class="inf_rigth">
            <p><b>Mes a mes</b></p>
            <div class="grid">
                <div>
                    <p>Enero</p>
                    <p></p>
                </div>
                <div>
                    <p>Febrero</p>
                    <p></p>
                </div>
                <div>
                    <p>Marzo</p>
                    <p></p>
                </div>
                <div>
                    <p>Abril</p>
                    <p></p>
                </div>
                <div>
                    <p>Mayo</p>
                    <p></p>
                </div>
                <div>
                    <p>Junio</p>
                    <p></p>
                </div>
                <div>
                    <p>Julio</p>
                    <p></p>
                </div>
                <div>
                    <p>Agosto</p>
                    <p></p>
                </div>
                <div>
                    <p>Septiembre</p>
                    <p></p>
                </div>
                <div>
                    <p>Octubre</p>
                    <p></p>
                </div>
                <div>
                    <p>Noviembre</p>
                    <p></p>
                </div>
                <div>
                    <p>Diciembre</p>
                    <p></p>
                </div>
            </div>
            <div class="dato_interesante">
                <p>Dato interesante</p>
                <p></p>
            </div>
            
        </div>
    </div>



</div>