
<div class="consult">
    <p>Palabra Clave</p>
    <input type="text">
    <button>🔎</button>
</div>


<div class="grid">
    <div class="card" id="grid_4">
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" id="grid_2">
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>

    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>

    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>

    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>

        <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>

    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    <div class="card" >
        <div class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="https://ojo.pe/resizer/SWeUdUMtIFlYLaiRvd21MLLELnc=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/BKVJFTCTUFEBDLRPZW46RBOW3A.png">
        <p class="card__p"><b>Nombre</b></p>
        <p>Nombre Cientifico</p>

    </div>
    
</div>