
<div class="consult">
    <p>Nombre</p>
    <input (input)="busqueda()" type="text" id="buscar">
    <button (click)="busqueda()">🔎</button>
</div>


<div class="grid" id="padre">
    <div class="card" *ngFor="let item of items" routerLink="/VerPlantas/{{item.id}}">
        <div  class="card_detalles">
            <p>Detalles</p>
        </div>
        <img src="{{item.url}}">
        <p class="card__p"><b>{{item.nombre}}</b></p>
        <p>{{item.nombre_cientifico}}</p>

    </div>
    
</div>