<div class="input">
    <p>Nombre</p>
    <input id="nombre" type="text" />
  </div>
  
  <div class="input">
    <p>Tipo</p>
    <input id="tipo" type="text" />
  </div>

  <div class="input">
    <p>Cantidad</p>
    <input id="cantidad" type="number" />
  </div>

  <div class="input">
    <p>Random</p>
    <input id="random" type="text" />
  </div>

  <!--

          id?:string;
      nombre?:string;
      tipo?:string;
      cantidad?:number;
      random?:string;
  -->

  <div class="div_submit">
	<button class="submit" (click)="enviar()" >Publicar</button>
</div>
