<nav>
  <div class="logo">
    <img src="../assets/Logo.svg">
    <div class="nombre">
    <h1>Biblioteca</h1>
    <h2>Jose Horacio Betancur</h2>
  </div>
  </div>
  <div id="menu" class="links">
    <ul>
      <a routerLink="/About-us"><li>Sobre Nosotros</li></a>
      <a routerLink="/GaleriaPlantas"><li>Plantas</li></a>
      <a routerLink="/GaleriaAves"><li>Aves</li></a>
      <a routerLink="/GaleriaInsectos"><li>Insectos</li></a>
      <a routerLink="/Inventario"><li>Insumos</li></a>
    </ul>
  </div>



  <div class="btn_barra">
      <i (click)="mostrar()" class="material-symbols-outlined">Menu</i>
  </div>
</nav>
<div id="responsive" class="responsive oculto">
  <h2>Jose Horacio Betancur</h2>

  <ul>
    <a routerLink="/About-us"><li>Sobre Nosotros</li></a>
    <a routerLink="/GaleriaPlantas"><li>Plantas</li></a>
    <a routerLink="/GaleriaAves"><li>Aves</li></a>
    <a routerLink="/GaleriaInsectos"><li>Insectos</li></a>
    <a routerLink="/Inventario"><li>Insumos</li></a>
  </ul>
  <h2 (click)="cerrar()">Cerrar</h2>
</div>
<div (click)="cerrar()" id="back" class="background oculto">

</div>
<div class="cont">
<router-outlet ><!--Aca se muestra las paginas--></router-outlet>
</div>

<br>
<br>
<br>
<br>
<br>


<footer>

  <div class="footer_sup">

      <div class="footer_sup_title"> <h1>Biblioteca</h1> <h1>Jose Horacio Betancur</h1> </div>
      <div class="footer_sup_items">
        <p><b>Pantallas</b></p> 
          <ul>
            <a href="#"><li>Sobre Nosotros</li></a>
            <a routerLink="/GaleriaPlantas"><li>Plantas</li></a>
            <a routerLink="/GaleriaAves"><li>Aves</li></a>
            <a routerLink="/GaleriaInsectos"><li>Insectos</li></a>
            <a routerLink="/Inventario"><li>Insumos</li></a>
        </ul>
      </div>
  </div>

  <div class="footer_down"><p>Derechos reservados EzCo</p></div>
</footer>

<app-notificacion id="notifi" class="oculto"></app-notificacion>