<nav>
  <div class="logo">
    <img src="../assets/Logo.svg">
    <div class="nombre">
    <h2>Biblioteca</h2>
    <h2>JHB</h2>
  </div>
  </div>
  <div class="links">
    <ul>
      <a href="#"><li>Sobre Nosotros</li></a>
      <a routerLink="/GaleriaPlantas"><li>Plantas</li></a>
      <a routerLink="/GaleriaAves"><li>Aves</li></a>
      <a routerLink="/GaleriaInsectos"><li>Insectos</li></a>
      <a routerLink="/Inventario"><li>Insumos</li></a>
    </ul>
  </div>
</nav>

<router-outlet><!--Aca se muestra las paginas--></router-outlet>


<br>
<br>
<br>
<br>
<br>


<footer>

  <div class="footer_sup">

      <div class="footer_sup_title"> <h1>Biblioteca JHB</h1></div>
      <div class="footer_sup_items">
        <p><b>Pantallas</b></p> 
          <ul>
            <a href="#"><li>Sobre Nosotros</li></a>
            <a routerLink="/GaleriaPlantas"><li>Plantas</li></a>
            <a routerLink="/GaleriaAves"><li>Aves</li></a>
            <a routerLink="/GaleriaInsectos"><li>Insectos</li></a>
            <a routerLink="/Inventario"><li>Insumos</li></a>
        </ul>
      </div>
  </div>

  <div class="footer_down"><p>Derechos reservados EzCo</p></div>
</footer>
