h2{
    font-size: 30px;
    width: 150px;
}



nav{
    position: relative;
    display: flex;
    padding: 0px 80px;
    height: 80px;
    justify-content: space-between;
    box-shadow: 10px 5px 10px #0005;
}
nav *{
    display: inline-block;
}
.cont{
    min-height: 100vh;
}
.links a{
    color: black;
}
.logo > .nombre >h2,.logo > .nombre >h1{
    display: block;
    position: relative;
    margin: 0px;
    color: white;
    z-index: 99;
}
.logo > .nombre {
    margin: 20px 10px;
}
.logo img{
    position: absolute;
    z-index: 0;
    width: 160px;
}
ul{
    text-decoration: none;
    list-style: none;
}
ul *{
    display: inline-block;
    margin: 10px 10px;
}
footer > div{
    margin: 0px;
}
.footer_sup{
    background-color: #465902cc;
    display: flex;
    justify-content: space-between;
    padding:50px 200px;
}

.footer_sup > *{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.footer_sup >ul{
    margin: 0px;
    padding: 0px;
}
.footer_down{
    background-color: #222601cc;
    padding: 10px;
}
.footer_down >p{
    margin: 0px;
}

.footer_sup_title > h1{
    font-size: 50px;
}

.footer_sup_items>p{
 margin: 0px 20px;
 font-size: 20px;

}
.footer_sup_items ul{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
.footer_sup_items ul li{
    color: black;
    margin: 0px 10px;
    padding: 0px;
}
.oculto{
    visibility: hidden;
}

router-outlet{
    width: 100vw;
    overflow: hidden;
}

.btn_barra{
    display: none !important;
}
.responsive{
    visibility: hidden;
}

@media screen and (max-width:900px) {
    .background{
        position: fixed;
        top: 0px;
        width: 100vw;
        height: 500vh;
        background-color: #000000aa;
        z-index: 99;
    }
    .background .oculto{
        visibility: hidden;
    }
    .oculto{
        transition: 1s;
        top:-1000px !important;
    }

    h2{
        font-size: 20px;
    }
    .responsive{
        visibility: visible;
    }
    .links{
        display: none !important;
    }
    i{
        font-size:60px;
    }
    .btn_barra{
        display:flex !important;
        height:100%;
        justify-content: center;
        align-items: center;
    }
    .responsive{
        transition: 1s;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 0px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        border-radius: 0px 0px 20px 0px;
    }
    .responsive>h2{
        width: 100%;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
    }
    .responsive ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        margin: 30px 0px;
    }
    .responsive ul a{
        margin: 10px 10%;
        width: 80%;
        align-items: center;
        border-bottom: solid 2px #000000;  
    }

    li{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 15px;
        color: #000000;
    }
    /*--------------------------------footer---------------------*/
    footer{
        width: 100%;
    }
    .footer_sup{
        display: flex !important;
        align-items: center;
        height:350px;
        
        padding: 30px 20px;
    }
    .footer_sup_items{
        display: none !important;
    }
    .footer_sup_title{
        margin: 0px;
    }

    p{
        text-align: center;
    }

}
