							/*Div Boton*/
.button button {
	border-radius: 20px;
	width: 127px;
	height: 47px;
	background-color: #CFCFCF;
	margin-top: 50px;
}

#button__1 {
	margin-left: 90px;
}

							/*Div picture*/
.picture {
	display: inline-block;
	position: relative;
	border:  solid 4px black;
	width: 537px;
	height: 152px;
	position: absolute;
	margin-left: 825px;
	margin-top: 60px;
}

.picture img {
	width: 35px;
	height: 35px;
	display: block;
}

.picture a {
	display: block;
	text-align: center;
	padding-top: 20px;
}

.picture button {
	display: block;
	width: 295px;
	height: 35px;
	background-color: #3E7600;
	color: #ffffff;
}

							/*div input1*/
.input {
	margin-top: 100px;
}

.input h3 {
	margin-top: 20px;
}
.input__names input {
	width: 638px;
	height: 34px;
	border-radius: 5px;
}

.input__form input{
	width: 1440px;
	height: 160px;
	border-radius: 5px;
}

.input, .input2 h2{
	position: relative;
	margin-left: 90px ;
}

							/*Div input2*/
.input2 h4{
	margin-top: 15px;
}

.input2__month1,.input2__month2{
	display: inline-block;
}

.input2__month2 {
	margin-left: 80;
}

.input2 h2 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.input2 input, h4{
	position: relative;
	margin-left: 100px ;
}

.input2 input {
	width: 623;
	height: 34;
	border-radius: 20px;
	background-color: #CFCFCF;
}

							/*submit button*/
#submit {
	width: 160;
	height: 35;
	background-color: #3E7600;
	color: #ffffff;
}

.input__center {
	margin: 60px 638px 100px;
}