<div>

	<div class="button">
		<button id="button__1">Aves</button>
		<button>Insectos</button>
		<button>Insumos</button>
		<button>Plantas</button>
	</div>

	<div class="picture">
		<div>
			<img src="https://i.pinimg.com/564x/dd/75/07/dd750788002e82483d5a70b1e33a1c83.jpg" width="30" lenght="30">
		</div>
		<a href="">Agregar la foto</a>

		<div class="picture__center">
			<button id="photo">
				📷 Agregar foto desde el computador
			</button>
		</div>
	</div>

	<div class="input">
		<form>

			<div class="input__names">
				<h3>Nombre</h3>
				<input type="text">
				<h3>Nombre Cientifico</h3>
				<input type="text">
			</div>

			<div class="input__form">	
				<h3>Caracteristicas</h3>
				<input type="text">
				<h3>Condiciones</h3>
				<input type="text">
				<h3>Metodo de cultivo</h3>
				<input type="text">
				<h3>Floración</h3>
				<input type="text">
				<h3>Problemas</h3>
				<input type="text">
			</div>

		</form>
	</div>

	<div class="input2">
		<form>
			<h2>Mes a mes</h2>
			<div class="input2__month1">
				<h4>Enero</h4>
				<input type="text">
				<h4>Febrero</h4>
				<input type="text">
				<h4>Marzo</h4>
				<input type="text">
				<h4>Abril</h4>
				<input type="text">
				<h4>Mayo</h4>
				<input type="text">
				<h4>Junio</h4>
				<input type="stext">
			</div>
			
			<div class="input2__month2">
				<h4>Julio</h4>
	 			<input type="text">
 				<h4>Agosto</h4>
				<input type="text">
				<h4>Septiembre</h4>
				<input type="text">
				<h4>Octubre</h4>
				<input type="text">
				<h4>Noviembre</h4>
				<input type="text">
				<h4>Diciembre</h4>
				<input type="text">
			</div>

			<div class="input__center"><input type="Submit" id="submit"></div>
			
		</form>
	</div>
</div>	
