.consult{
    margin: 80px 10%;
    width: 80%;
    text-align: center;
}
.consult p{
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}

.consult input{
    width: 480px;
    border-radius: 20px;
    border: none;
    background-color: #B9B9B9AC;
    height: 30px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.consult input:focus{
    border: black;
    outline: 3px solid #023855;
}
.consult button{
    background-color: #023855;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.consult button:active{
    background-color: white;
    outline: 3px solid #023855;

}



.consult *{
 display: inline-block;
 margin: 0px 10px;
 padding: 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    max-width: 1300px;
    grid-gap: 40px;
}

.card{
    width: 200px;
}
.card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.card p{
    margin: 5px;
}
.card__p{
    font-size: 20px;
}

.card:hover >.card_detalles{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.card_detalles{
    visibility: hidden;
    position: absolute;
    background-color: #023855;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    cursor: pointer;
}
.card_detalles p{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 45% 0px;
}


@media (min-width: 1200px) {
    .grid >:nth-child( 7 ){
        grid-column: 1;
        grid-row: 4 / 6;
    }
    .grid >:nth-child( 7 ) img{
        width: 300px;
        height: 700px;
    }
    .grid >:nth-child( 7 )  .card_detalles{
        width: 300px;
        height: 700px;
    }
    
    .grid >:nth-child( 7 )  .card_detalles p{
        margin: 100% 0px;
    }
    
    .grid >:nth-child( 8 ){
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }
    
    .grid >:nth-child( 8 ) >img{
        width: 660px;
        height: 700px;
    }
    .grid >:nth-child( 8 ) .card_detalles{
        width: 660px;
        height: 700px;
    }
    
}
@media (max-width: 1200px) {
    .consult {
        margin-top: 100px;
    }
    .consult p{
        display: inline;
       }
    .consult >button{
        width: 50px;
    }   

    .consult input{
        width: 200px;

    }

}





@media (max-width: 1200px) and (min-width: 800px) {

    .grid{
        grid-template-columns: repeat(3, 1fr);
    }

  }

  @media (max-width: 800px) and (min-width: 650px) {

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 650px) {

    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid>div{
        margin-left: calc((100% - 300px) / 2);
    }
  }