
<section>
    <article class="article1">
        <div class="carrousel">
            <div id="grande" class="grande">
                <img src="../../assets/img_4_5.png" alt="Imagen 1" class="img_carrusel">
                <img src="../../assets/botones/insectos.png" alt="Imagen 2" class="img_carrusel">
                <img src="../../assets/img_4_5.png" alt="Imagen 3" class="img_carrusel">
                <img src="../../assets/img_4_5.png" alt="Imagen 4" class="img_carrusel">
            </div>
    
            <ul class="puntos">
                <li (click)="paso(0)" class="punto activo"></li>
                <li (click)="paso(1)"class="punto"></li>
                <li (click)="paso(2)"class="punto"></li>
                <li (click)="paso(3)"class="punto"></li>
            </ul>
        </div>
    </article>

    <article class="article2">

        <div routerLink="/GaleriaAves" class="card_aves">
            <div class="text_card">
                <p>galeria</p>
                <h2>Aves</h2>
            </div>
            <img src="../../assets/botones/ave.png" alt="">
        </div>

        <div routerLink="/GaleriaPlantas" class="card_plantas">
            <div class="text_card">
                <p>galeria</p>
                <h2>Plantas</h2>
            </div>
            <img src="../../assets/botones/planta.png" alt="">
        </div>
        
        <div routerLink="/Inventario" class="card_insumos">
            <div class="text_card">
                <p>inventario</p>
                <h2>Insumos</h2>
            </div>
            <img src="../../assets/botones/insumos.png" alt="">
        </div>

        <div routerLink="/GaleriaInsectos" class="card_insectos">
            <div class="text_card">
                <p>galeria</p>
                <h2>Insectos</h2>
            </div>
            <img src="../../assets/botones/insectos.png" alt="">
        </div>

    </article>

    <article class="article3">
        <h2>Mision</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercit
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
             do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercit
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercit
        </p>
    </article>

    <article class="article4">
        <div class="article_tex">
            <h2>Mision</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercit
            </p>
        </div>
        <img class="img_art45"  src="../../assets/img_4_5.png" alt="">
    </article>

    <article class="article5">
        <img class="img_art45"  src="../../assets/img_4_5.png" alt="">
        <div class="article_tex">
            <h2>Mision</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercit
            </p>
        </div>   
    </article>
    <div class="crear">
        <button class="btn_crear" routerLink="/Login/1">Crear</button>
    </div>
</section>

<img class="fondo1" src="../../assets/fondo_circle.png" alt="">
<img class="fondo2" src="../../assets/Vector (2).png" alt="">
<img class="fondo3" src="../../assets/fondo_circle.png" alt="">
<img class="fondo4" src="../../assets/fondo_circle.png" alt="">
